
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Administration{% endblock %}
{% block page_actions %}
    <a class="btn btn-primary" href="...">Some Action</a>
{% endblock %}